.myThumbnail{border:none;display:inline-block;width:233px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px;height:250px;overflow-y: hidden;}
.myThumbnail a{display:block;text-decoration:none; }
.myThumbnail .imgBox{width:100%;position:relative;font-size:120%;}
.myThumbnail .imgBox img{width:100%;height:100%}
.myThumbnail .imgBox .time{-webkit-border-radius:10px;border-radius:10px;background:rgba(0,0,0,0.533);padding:0 7px 2px;position:absolute;right:5px;top:5px;color:#fff}
.myThumbnail .imgBox .rating{-webkit-border-radius:10px;border-radius:10px;background:rgba(0,0,0,0.533);position:absolute;left:5px;top:5px;color:#0c0;padding:0 7px 2px;}
.myThumbnail .imgBox .rating span{margin-left:7px;color:#fff}
.myThumbnail .textbox{color:#d98c00;text-decoration:none;font-weight:bold;}
.myThumbnail .textbox .text{font-size:16px}
.myThumbnail .views{color:#fff;text-align:right}

#mostViewed, #recommended {
    display: flex;
    flex-flow: row wrap;
}

#mostViewed .myThumbnail, #recommended .myThumbnail {
    margin: auto;
}

#top6 {
    width: 66%;
    max-width: 750px;
}

#videoWatch {
    width: 66%;
}

#myad {
    margin:auto;
}

#myad img {
    max-width: 30vw;
    max-height: 400px;
}

#ytplayer {
    width: 50vw;
    height: 30vw;
    margin: auto;
}

.blockHeader {
    width: 100%;
    /*height: 30px;*/
    font-size: 19px;
    background-color: #1b1b1b;
    color: #fff;
    padding-left: 10px;
}

#flexContainer {
    /*display: relative;*/
    display: flex;
    flex-direction: row;
    background-color: #0f0f0f;
    padding: 5px;
}

#addBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0f0f0f;
    padding: 5px;
}

#addBlock #myad img {
    max-width: 49vw;
    max-height: 350px;
}

#container {
    margin: 10px;
}

@media (max-width: 730px) {
    #ytplayer {
        width: 90vw;
        height: 53vw;
    }

    .myThumbnail {
        margin: auto;
        width: 100%;
        max-height: none;
        height: auto;
    }

    .myThumbnail:nth-child(even) {
        display: none;
    }



    #mostViewed, #recommended {
        display: flex;
        flex-direction: column;
    }

    #top6 {
        width: 100%;
        max-width: none;
        flex-direction: column;
        display: flex;
    }

    #myad {
        /*width: 33%;*/
        border: 1px solid red;
        /*top: 0;*/
        /*position: absolute;*/
        margin:auto;
    }

    #myad img {
        max-width: 90vw;
        max-height: 500px;
    }


    .myThumbnail .textbox .text {
        font-size: 40px;
    }

    .myThumbnail .views {
        font-size: 30px;
    }



    

    .blockHeader {
        font-size: 37px;
    }

    #flexContainer {
        /*display: relative;*/
        display: flex;
        flex-direction: column;
        background-color: #0f0f0f;
        padding: 5px;
    }

    #addBlock {
        display: flex;
        flex-direction: column;
        background-color: #0f0f0f;
        padding: 5px;
    }

    #addBlock #myad img {
        max-width: 90vw;
        max-height: 500px;
    }
    #addBlock #myad {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {

    .myThumbnail .textbox .text {
        font-size: 25px;
    }

    .myThumbnail .views {
        font-size: 18px;
    }

    .blockHeader {
        font-size: 23px;
    }

}




body {
    background: #000;
}
.myad {
    border: 7px dotted #f00;
    -webkit-animation: flicker 0.7s infinite;
    -moz-animation: flicker 0.7s infinite;
    -o-animation: flicker 0.7s infinite;
    -ms-animation: flicker 0.7s infinite;
    animation: flicker 0.7s infinite;
}
.awrap {
    position: relative;
    padding-left: 50%;
}
.myada {
    display: block;
    margin-left: -170px;
    width: 340px;
    height: 340px;
}
.topBar {
    color: #fff;
    height: 21px;
    overflow: hidden;
    border-bottom: 1px solid #404040;
}
.topBar a {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 0px 7px 2px;
    margin-left: 7px;
    font-size: 80%;
    display: inline-block;
}
.topBar a:hover {
    background: #404040;
    color: #bfbfbf;
    text-decoration: none;
}
.topBar span {
    color: #bfbfbf;
    padding: 0px 7px 2px;
    margin-left: 7px;
    font-size: 80%;
    display: inline-block;
}
.searchBar {
    height: 61px;
    overflow: hidden;
    border-bottom: 1px solid #404040;
    background: #222;
}
.searchBar .logo {
    float: left;
    height: 38px;
    width: 149px;
    margin-top: 13px;
    display: inline-block;
}
.searchBar form {
    float: left;
    margin: 17px 20px 0 20px;
    display: inline-block;
}
.searchBar form .searchbox {
    border: 0;
    display: inline-block;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    height: 26px;
}
.searchBar form .typeselect {
    height: 26px;
    display: inline-block;
    border: 0;
    background: #fff;
}
.searchBar form .typeselect .fa {
    margin-left: 7px;
}
.searchBar form .submitbtn {
    width: 65px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 26px;
    background: #ffa500;
}
.searchBar .uploadbtn {
    float: left;
    margin: 17px 20px 0 20px;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #333;
    color: #aaa;
    padding: 6px 15px;
    text-decoration: none;
    font-weight: bold;
}
.searchBar .uploadbtn:hover {
    background: #555;
}
.searchBar .upgradebtn {
    float: left;
    font-weight: bold;
    margin: 17px 20px 0 20px;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #F90;
    color: black;
    padding: 6px 15px;
    text-decoration: none;
}
.searchBar .upgradebtn:hover {
    background: #ffa31a;
}
.searchBar .pull-right a {
    color: #bbb;
    text-decoration: none;
    display: inline-block;
    height: 26px;
    margin: 17px 5px 0 5px;
}
.searchBar .pull-right a .fa {
    margin-left: 5px;
}
.searchBar .pull-right a:hover {
    color: #fff;
}
.menuBar {
    height: 41px;
    border-bottom: 1px solid #404040;
    overflow: hidden;
    background: #111;
}
.menuBar a {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    width: 130px;
    height: 40px;
    padding: 13px 13px 2px;
    text-decoration: none;
    color: #fff;
}
.menuBar a:hover {
    background: #333;
}
.menuBar a .fa {
    margin-left: 5px;
}
.menuBar a.active {
    padding-bottom: 0px;
    border-bottom: 2px solid #ffa500;
}
.mypanel {
    background: #111 !important;
}
.mypanel .mypanelhead {
    height: 38px;
    overflow: hidden;
    padding: 8px;
    font-size: 17px;
    color: #fff;
    background: #333;
}
.mypanel .mypanelhead a {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 21px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background: #444;
    text-decoration: none;
    padding: 1px 7px;
}
.mypanel .mypanelhead a:hover {
    background: #555;
}
.mypanelstyle {
    background: #111;
}
@-moz-keyframes flicker {
    0% {
    border-color: #f00;
    }
    50% {
    border-color: #0f0;
    }
    100% {
    border-color: #f00;
    }
}
@-webkit-keyframes flicker {
    0% {
    border-color: #f00;
    }
    50% {
    border-color: #0f0;
    }
    100% {
    border-color: #f00;
    }
}
@-o-keyframes flicker {
    0% {
    border-color: #f00;
    }
    50% {
    border-color: #0f0;
    }
    100% {
    border-color: #f00;
    }
}
@keyframes flicker {
    0% {
    border-color: #f00;
    }
    50% {
    border-color: #0f0;
    }
    100% {
    border-color: #f00;
    }
}